<%- include('includes/head')  %>

  <section class="container">
    <% if (typeof nome != 'undefined') { %> 
      <h1><%= nome %></h1>
    <% } %>
    <form action="/" method="post">
      <label>cliente</label>
      <input type="text" name="cliente">
      <button>Submit</button>
    </form>
  </section>

  <script src="./assets/bundle.js"></script>
</body>

</html>